.btn {
  width: 90px;
  height: 36px;
  background-color: #8357d7;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  box-shadow: 0 7px 10px rgba(19, 11, 11, 0.96);
}

.btnRed {
  width: 90px;
  height: 36px;
  background-color: #ff0048;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  box-shadow: 0 7px 10px rgba(19, 11, 11, 0.96);
}